data/layers/*.png
data/layers/*.paa
data/layers/*.rvmat
source/objects
source/shapefiles
source/*.v4d.bak*
source/trerik4.Cache/*.cache
*_autosave_0.spp
*_autosave_1.spp
*.blend1
*.v4d.bak*
*.obf
kerkkoh.bikey
*.bin
*.ignore
source/ce/map
source/ce/territoryTypes
*.code-workspace
source/TerrainProcessor/*.txt
source/TerrainProcessor/*.lbt
